html {
    background-image: url('../img/background.jpg');
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.welcome_message{
    margin-left:60px;
    margin-top:60px;
    color:white;
    line-height:13px;

}

.title span{
    background-color:black;
    padding: 5px 10px;
}

.message span{
    width:450px;
    padding: 5px 10px;
    background-color:black;
    line-height:30px;
}

.welcome_message img{
    float: right;
    margin-right: 150px;
    height:152px;
    width:152px;
}
